<body>
	<%= render 'common/header2' %>
	<div class="joinfree">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="joinfeww-s aboutcon-st">
						<h4>About us</h4>
					</div>
				</div>
			</div>
		 	<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="about-st">
					<p>Heka is a popular cryptocurrency exchange providing the ability to instantly and seamlessly exchange over 90 altcoins at the best market rate or buy them using a bank card.</p>
					<p>Operating since 2015, Heka has attracted over 1.5M registered users from around the world. Currently, the service processes more than 15K transactions daily with a monthly turnover of around 60K BTC.</p>
					<p>Heka offers its API and a customizable payment widget for any crypto service that wishes to increase its turnover. The exchange provides its Affiliate program with a quite appealing revenue share mechanism. Heka is a partner with Mycelium, Jaxx, Coinmarketcap, Coinpayments, Uquid debit card, Coinomi, and other prominent companies.</p>
					<div class="he-st">
						<img src="/assets/logo.png"/>
					</div>
					<p>We offer you an <a href="#" target="_blank">intuitive interface</a>, the best exchange rates and <a href="#" target="_blank">secure transactions</a>. We aspire to establish mutual trust with our clients; thereof we don’t have any hidden or unreasonable fees. We always charge only 0.5% fee and that’s it, full stop.</p>
					<br/>					
					<p class="text-center">If you are interested in cooperation or have any suggestions<br/> for us, drop a message to <a href="mailto:support@heka.com">support@heka.com.</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>