<footer class="footer-bg">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-3">
				<div class="footerlogo-blk">
					<div class="logopart">
						<a href="#" class="logoftr">
							<img src="/assets/logo.png" style="width:150px;"/>
						</a>						
					</div>
					<a href="" class="view-row">
						<img src="/assets/001.png" style="width:135px;"/>
					</a>
					<a href="" class="view-row">
						<img src="/assets/002.png" style="width:135px;"/>
					</a>
					<a href="" class="view-row">
						<img src="/assets/003.png" style="width:135px;"/>
					</a>
					
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="footerblk-data">
					<h4 class="ng-binding">API + Tools</h4>
					<ul>
						<li>
							<a href="/home/coming_soon">API</a>
						</li>
						<li>
							<a href="/home/coming_soon">Lens Extension</a>
						</li>
						<li>
							<a href="/home/coming_soon">Heka Button</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="footerblk-data">
					<h4 class="ng-binding">Resources</h4>
					<ul>
						<li>
							<a href="/home/coming_soon">Company Information</a>
						</li>
						<li>
							<a href="/home/coming_soon">For Business</a>
						</li>
						<li>
							<a href="/home/coming_soon">Affiliates</a>
						</li>
						<li>
							<a href="/home/coming_soon">Press</a>
						</li>
						<li>
							<a href="/home/coming_soon">Testimonials</a>
						</li>
						<li>
							<a href="/home/coming_soon">Blog</a>
						</li>											
					</ul>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="footerblk-data">
					<h4 class="ng-binding">Support</h4>
					<ul>
						<li>
							<a href="/home/coming_soon">Contact Us</a>
						</li>
						<li>
							<a href="/home/coming_soon">FAQ</a>
						</li>
						<li>
							<a href="/home/coming_soon">Terms and Conditions</a>
						</li>
					</ul>
				</div>			
			</div>
		</div>
	</div>    <!-- /.container -->
</footer>
<div class="copyright-s">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<p>Copyright <span class="color-cyan">HEKA</span> © 2017-18 All Right Reserved.</p>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="footer-social">
					<ul>
						<li><a href="https://www.facebook.com/Giltxchangeofficial" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="https://t.me/hekaio" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
						<li><a href="https://twitter.com/hekaofficial" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="https://www.linkedin.com/company/hekaofficial/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
						<li><a href="https://medium.com/@hekaofficial" target="_blank"><i class="fab fa-medium-m"></i></a></li>				
					</ul>
				</div>
			</div>			
		</div>
	</div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap.bundle.min.js"></script>